<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">LOGIN</h3>
  <div class="w3-center">
  	<form method="post" action="/users/login">
        Username<input type="text" name="username" style="margin-left: 50px;"><br><br>
        Password<input type="password" name="password" style="margin-left: 10px;"><br><br>
        <input type="submit" name="register" value="LOGIN">
  	</form>
  </div>
</div>