<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">LOGIN</h3>
  <div class="w3-center">
  	<form>
        EMAIL<input type="text" name="email" style="margin-left: 50px;"><br><br>
        PASSWORD<input type="password" name="password1" style="margin-left: 10px;"><br><br>
        <input type="submit" name="register" value="LOGIN">
  	</form>
  </div>
</div>