<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">REGISTER HERE!</h3>
  <div class="w3-center">
  	<form>
  	    FIRST NAME<input type="text" name="firstname" style="margin-left: 100px;"><br><br>
  	    LAST NAME<input type="text" name="lastname" style="margin-left: 100px;"><br><br>
  		  USERNAME<input type="text" name="username" style="margin-left: 100px;"><br><br>
        EMAIL<input type="text" name="email" style="margin-left: 140px;"><br><br>
        PASSWORD<input type="password" name="password1" style="margin-left: 100px;"><br><br>
        CONFIRM PASSWORD:<input type="password" name="password2" style="margin-left: 25px;"><br><br>
        <input type="submit" name="register" value="REGISTER">
  	</form>
  </div>
</div>